﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>
SAS au Capital de 867 169,89€

Etablissement de paiement agréé ACPR N° 16568

Siret : 500 486 915 000 35

TVA Intracommunautaire : FR85500486915</p>
