﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    14 rue de la beaune <br />
    Montreuil, 93100 France<br />
    <abbr title="Phone">
    Telephone:
    </abbr>+33 1 48 18 19 30
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:amirabel@lemonway.com">amirabel@lemonway.com</a><br />
</address>