﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ZION</h1>
    <p class="lead">Welcome to Andy's small tests Web App</p>
    <p><a href="https://www.lemonway.com/fr/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>PART ONE</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum..
        </p>
        <p><a class="btn btn-default" href="https://www.lemonway.com/fr/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PART TWO</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
         totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
         Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
         ratione voluptatem sequi nesciunt.
        </p>
        <p><a class="btn btn-default" href="https://www.lemonway.com/fr/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PART THREE</h2>
        <p>Ego vero sic intellego, Patres conscripti, nos hoc tempore in provinciis decernendis perpetuae pacis habere 
        oportere rationem. Nam quis hoc non sentit omnia alia esse nobis vacua ab omni periculo atque etiam suspicione belli.</p>
        <p><a class="btn btn-default" href="https://www.lemonway.com/fr/">Learn more &raquo;</a></p>
    </div>
</div>